*.py[cod]
tdi.json

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
./build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.nose-stopwatch-times
.nose-stopwatch-times-unit
.nose-stopwatch-times-integration

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Diff tool
*.orig

# PyVharm
.idea

# Redis
dump.rdb

.DS_Store
.project

# Brainiak
src/brainiak/settings.py
config/gunicorn-api_semantica-be-logging.config

# Ruby
.ruby-gemset
.ruby-version
Gemfile
Gemfile.lock
