##########################################################################
# ARQUIVO GERENCIADO PELO PUPPET                                         #
# AS ALTERACOES MANUAIS SERAO REMOVIDAS NA PROXIMA ATUALIZACAO DO PUPPET #
# modules/api_semantica/templates/nginx/nginx-be.config.erb              #
##########################################################################
# ['local do Template':'local de instalacao']
# [puppet/modules/api_semantica/templates/Nginx BE de api_semantica]

worker_processes  2;
# original config 36;

## RSYSLOG
syslog local6 nginx-api_semantica;

error_log  /opt/logs/api_semantica/nginx-be/nginx-api_semantica-be_main-error.log;
pid        /opt/logs/api_semantica/nginx-be/nginx-api_semantica-be.pid;

events {
    worker_connections  2048;
    use epoll;
}

http {
    ## INCLUI O MIME TYPES CUSTOMIZADO OU O PADRAO
        include /opt/generic/nginx/conf/mime.types;
    types {
        application/json json;
    }

    port_in_redirect  off;   # Desliga o redirecionamento de portas
    default_type  text/html;

    log_format  main '$remote_addr - $remote_user [$time_local] $host "$request" '
                     '$status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" '
                     'request_time[$request_time] Proxy_subrequest[$proxy_host$upstream_http_uri$is_args$args] '
                     'Proxy: $upstream_cache_status $upstream_status $upstream_response_time ';

    error_page   404 403      /errordocument/404.html;
    error_page   500 502 504  /errordocument/500.html;

    # log_subrequest on;

    client_header_buffer_size    6k;
    large_client_header_buffers    6 6k;
    client_max_body_size        20m;
    sendfile        on;
    keepalive_timeout  15;
    server_tokens off;

    merge_slashes off;

    tcp_nopush on;
    tcp_nodelay on;

    ## NO BE EH IMPORTANTE ESTAR DESLIGADO O SSI
    ssi off;

    client_body_temp_path /opt/api_semantica/nginx-be/client_body_temp 1 1 2;

        ############### Configuração do proxy ###############
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_connect_timeout 10s;
    proxy_read_timeout    60s;          # Damos chance para o gunicorn processar mais demoradamente
    proxy_send_timeout    10s;

    proxy_ignore_client_abort on;

    ## Gunicorn 2 -> Instancia usado pelo "Brainiak" (Novo Projeto de Semantica)
    #upstream app2_backend {
    #    # For a TCP configuration:
    #    server 0.0.0.0:8035 max_fails=3  fail_timeout=15s;
    #}

    upstream app2_backend
    {
        server 127.0.0.1:8000;
        server 127.0.0.1:8001;
        server 127.0.0.1:8002;
        server 127.0.0.1:8003;
        server 127.0.0.1:8004;
        server 127.0.0.1:8005;
        server 127.0.0.1:8006;
        server 127.0.0.1:8007;
        server 127.0.0.1:8008;
        server 127.0.0.1:8009;
        server 127.0.0.1:8010;
        server 127.0.0.1:8011;
        server 127.0.0.1:8012;
        server 127.0.0.1:8013;
        server 127.0.0.1:8014;
        server 127.0.0.1:8015;
        server 127.0.0.1:8016;
        server 127.0.0.1:8017;
        server 127.0.0.1:8018;
        server 127.0.0.1:8019;
    }


    proxy_temp_path /opt/api_semantica/nginx-be/proxy_temp 1 1 2;

        ############### Configuração do cache proxy ###############
    proxy_cache_path        /opt/api_semantica/nginx-be/proxy_cache  levels=1:1:2   keys_zone=cache_local:200m  max_size=2000m inactive=7d;
    proxy_cache_key         "$uri";
    proxy_cache_use_stale   error timeout updating invalid_header http_500 http_502 http_503 http_504;
    ############################################################

    ############################################################


    ## RSYSLOG
    access_log syslog:notice|/opt/logs/api_semantica/nginx-be/nginx-api_semantica-be_access.log main;
    error_log  syslog:warn|/opt/logs/api_semantica/nginx-be/nginx-api_semantica-be_error.log;

    server {
        listen  0.0.0.0:8033;

        # Healthcheck para testar apenas o servico NGINX (Monitoracao)
        location = /healthcheck.html {
            alias  /opt/api_semantica/nginx-be/htdocs/healthcheck.html;
        }

        # Healthcheck dinamico proxy - Voltamos a ser estatico, até separar os vips
        location ~ ^/healthcheck/?$ {
            rewrite . /healthcheck.html;
        }

        ## Coloquei isso pq alguem de DEV havia colocado na MAO isso.
        location ~ ^/favicon.ico {
            alias /mnt/projetos/deploy-be/api_semantica/app/current/api_semantica/favicon.png;
        }

        ## Baixo eu declaro qual gunicorn atende as diferentes versoes de codigo

        ## Redirect para APP 2
        location /v2 {
            rewrite ^/v2/(.*)$ /$1 last;
        }
        location /docs {
            alias /mnt/projetos/deploy-be/api_semantica/brainiak/app/current/docs;
        }
        location ^~ /errordocument{
            alias  /opt/api_semantica/nginx-be/htdocs/errordocument;
        }
        location / {
            # Novo formato da api, sem o /v2
            proxy_pass  http://app2_backend;
        }
    }
}
# EOF
